body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* header */
#header-container {
    background-color: #2a7b83;
    width: 100%;
}

/* activity -3 */
.subtitle {
    display: inline-block;
    font-weight: bold;
    color: #858181;
    font-size: 12px;
    border-radius: 15px;
    margin: 5px 0;
    padding: 5px 25px;
    border: 1px solid #ada9a9;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #ada9a9;
}

.activity3a-label {
    font-weight: bold;
}

.activity3a strong {
    font-weight: bold;
}

#italic-span {
    font-style: italic;
}

/* section */
/* Background with diagonal clip */
/* image1 */
#background-clip-wrapper {
    background-color: #f0f8fa;
    /* clip-path: polygon(0 0, 100% 0, 80 100%, 0% 100%); */
    /* -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%); */
}

/* Text content styling */
.wrap-container {
    padding: 30px;
    line-height: 1.6;
    color: #222;
}

.profile-img {
    float: left;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px 20px 10px 0;
}

.name-tag {
    position: relative;
    left: -95px;
    top: 90px;
    background-color: #00757d;
    color: white;
    padding: 4px 12px;
    /* border-radius: 6px; */
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    z-index: 1;
}

/* Full image with no clip */
#background-clip-wrapper1 {
    background-color: #f9f9f9;
    /* clip-path: polygon(0 0, 100% 0, 80 100%, 0% 100%); */
    /* -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%); */
}

.right-image {
    width: 100%;
    display: block;
    height: auto;
}

/* image2 */
.left-image {
    width: 100%;
    display: block;
    height: auto;
}

.profile-img1 {
    float: right;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px 20px 10px 0;
}

.name-tag1 {
    position: relative;
    right: -380px;
    top: 90px;
    background-color: rgb(76, 75, 75);
    color: white;
    padding: 4px 12px;
    /* border-radius: 6px; */
    font-weight: bold;
    font-size: 1em;
    /* display: inline-block; */
    display: none;
    z-index: 1;
}

/* gramatica */
.grammar-box {
    width: 200px;
    color: white;
    background-color: #eaf4f5;
    font-size: 14px;
    border-radius: 6px;
    /* position: relative; */
    padding: 10px;
}

.grammar-box .grammar-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
    padding: 10px;
    background-color: #1a7282;
}

.grammar-box .grammar-text {
    color: #1a7282;
    font-weight: bold;
}

.grammar-box .highlight {
    background-color: yellow;
    padding: 0 3px;
}

.grammar-box .example {
    color: white;
    font-weight: normal;
    margin-bottom: 5px;
    border-bottom: 1px dotted white;
    display: inline-block;
}

.grammar-box .example b {
    color: #1a7282;
}

.grammar-box .example span {
    color: black;
    font-weight: bold;
}

.grammar-box .page {
    display: block;
    margin-top: 4px;
    color: #1a7282;
    font-size: 12px;
    font-weight: bold;
}

#hr {
    border-top: 1px dashed #1a7282;
}

/* Mobile fix */
@media (max-width: 324px) {
    .name-tag1 {
        margin-left: -200%;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .name-tag1 {
        margin-left: -140%;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    .name-tag1 {
        margin-left: -95%;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .name-tag1 {
        margin-left: -65%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .name-tag1 {
        margin-left: -100%;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .name-tag1 {
        margin-left: -45%;
    }
}

@media (max-width: 1440px) {
    .name-tag1 {
        left: 29rem;
    }
}